<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body class="container">

        <h1 th:text="${title}">Default Title</h1>

        <nav th:replace="fragments :: navigation"></nav>

        <form method="post" th:object="${form}" action="/menu/remove-item">

            <div th:each="cheese : *{cheeses}" class="checkbox">
                <input type="checkbox" name="cheeseIds" th:value="${cheese.id}" th:id="${cheese.id}"/>
                <label th:for="${cheese.id}" th:text="${cheese.name}"></label>
                <br />
            </div>
            <input type="hidden" name="menuId" th:value="*{menu.id}" />
            <input type="submit" value="Remove Cheese" />
        </form>

        <nav th:replace="fragments :: nav-2"></nav>

    </body>
</html>